<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    routerLink="/entries"
    routerLinkActive
    #rlaEntries="routerLinkActive"
    [active]="rlaEntries.isActive"
    queryParamsHandling="preserve"
  >
    Entries
  </a>
  <a
    mat-tab-link
    routerLink="/report"
    routerLinkActive
    #rlaReport="routerLinkActive"
    [active]="rlaReport.isActive"
    queryParamsHandling="preserve"
  >
    Report
  </a>
  <a
    mat-tab-link
    routerLink="/budget"
    routerLinkActive
    #rlaBudget="routerLinkActive"
    [active]="rlaBudget.isActive"
    queryParamsHandling="preserve"
  >
    Budget
  </a>
</nav>
<mat-tab-nav-panel #tabPanel />
