<form (submit)="submit($event)">
  <div class="add-entry-form">
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input #amountInput matInput type="number" placeholder="0.00" [field]="form.amount" step="0.01">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <input
        matInput
        [matAutocomplete]="auto"
        [field]="form.category"
        placeholder="Search categories">
      <mat-autocomplete #auto="matAutocomplete">
        @for (category of filteredCategories(); track category) {
          <mat-option [value]="category">{{ category }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>

    <pre>{{ model() | json }}</pre>
  </div>
</form>