table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 0.75rem;
  border-bottom: 1px solid #f3f4f6;
}

td:first-child {
  width: 250px;
}

.label {
  font-weight: 600;
  text-align: left;
}

